/* General Styles */

:root {
    --primary-color: #0f6fb9; /* Blue */
    --secondary-color: #402e5d; /* Violet */
    --accent-color: #f98f00; /* Orange */
    --text-color: #ffffff; /* White for text */
    --background-color: #f8f9fa; /* Light background */
    --edo-blue : #0f6fb9;
    --edo-orange : var(--accent-color);
    --edo-violet : var(--secondary-color);
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-jumbo {
    background-image: linear-gradient(to top right, var(--edo-violet), var(--edo-orange));
}
h2 {
    font-weight: 700;
    color: #333;
}

p {
    font-size: 1.1rem;
    /* color: #555; */
}

/* Navbar Styles */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand img.navbar-logo {
    height: 30px;
}

.navbar-nav .nav-link {
    color: var(--edo-orange);
    font-weight: 500;
    padding: 10px;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: var(--edo-violet);
}

section h3 {
    font-weight: 700;
    color: var(--edo-violet);
}

/* About Section */
.container {
    max-width: 960px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.py-5 {
    padding: 3rem 0;
}

/* Partners Section */
.bg-light {
    background-color: #f8f9fa !important;
}

.row .col-md-3 {
    margin-bottom: 2rem;
}

.row .col-md-3 img {
    max-height: 80px;
    width: auto;
    transition: transform 0.3s ease;
}

.row .col-md-3 img:hover {
    transform: scale(1.05);
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

/* Footer Styles */
footer {
    /* background-color: #222; */
    background-image: linear-gradient(to right, var(--edo-blue), var(--edo-violet));
    color: white !important;
    font-size: 0.9rem;
}

footer a.ft-social {
    color: #FFD700;
    text-decoration: none;
    margin: 0 10px;
}

footer a.ft-social:hover {
    text-decoration: underline;
}

footer p {
    margin: 0.5rem 0;
}

.ft-social {
    color: var(--edo-blue) !important;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-link {
        padding: 10px 15px;
    }
}

/* Animations */
.slide-in {
    animation: slideIn 1.5s ease-out;
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-in;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}